body{
    background: rgb(211, 91, 113)
  }

  a{
    color: #b3418d
  }

  .photo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
  }

  .photo img{
    width: 200px;
    height: 280px;
    object-fit: cover;
    box-shadow: 10px 15px 25px 0 rgba(170, 86, 86, 0.851);
    display: block;
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin-top: -10px;
  }

  .photo:hover img{
    box-shadow: 1px 1px 10px 0 rgba(253, 249, 249, 0.677);/خلفيه/
  }

  .photo .glow-wrap{
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    margin-top: -10px;
    border-radius: 50%;
  }

  .photo .glow{
    display: block;
    position:absolute;
    width: 20%;
    height: 150%;
    background: rgba(255, 255, 255, 0.516);/8/
    top: 0;
    filter: blur(5px);
    transform: rotate(45deg) translate(-450%, 0);
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .photo:hover .glow{
    transform: rotate(45deg) translate(450%, 0);
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .photo:hover img,
  .photo:hover .glow-wrap{
    margin-top: 0;
  }

  h1{
    position: absolute;
    z-index: 1;
    transform: translate(-25%, -65%);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    line-height: 1.2;
  }


  /* Ends */

  #author{
    font-family: Helvetica, Arial;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    color: #888;
  }

  #author:hover{
    color: #111;
  }
  .photo:nth-child(1) {
    right: 30%;
    top: 30%;
    margin-right: 50px; /* إضافة مسافة بين العناصر */
  }

  .photo:nth-child(2) {
    left: 20%;
    top: 30%;
  }

  .photo:nth-child(3) {
    left: 80%;
    top: 30%;
  }
  .photo:nth-child(4) {
    left: 80%;
    top: 70%;
  }
  .photo:nth-child(5) {
    left: 20%;
    top: 70%;
  }
  .photo:nth-child(6) {
    left: 50%;
    top: 70%;
  }
  .photo:nth-child(7) {
    left: 80%;
    top: 110%;
  }
  .photo:nth-child(8) {
    left: 20%;
    top: 110%;
  }
  .photo:nth-child(9) {
    left: 50%;
    top: 110%;
  }



  .photo img {
    width: 200px;
    height: 200px; /* يجب أن يكون ارتفاع الصورة متساويًا مع عرضها */
    object-fit: cover;
    box-shadow: 10px 15px 25px 0 rgba(250, 250, 250, 0.851);
    display: block;
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin-top: -10px;
    border-radius: 50%; /* جعل الصورة دائرية */
  }