.logo {
    position: fixed;
    top: 20px; /* Adjusted for vertical alignment */
    right: 20px; /* Adjusted for alignment */
    width: 40px;
    height: 38px;
    border-radius: 100%;
    overflow: hidden;
}

.logo img {
    width: 100%;
    height: 100%;
}


.user-info {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
}

.user-info img {
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    border-radius: 50%;
    margin-right: 10px;
}

.user-info .username {
    color: #333;
    font-weight: bold;
    font-size: 1.1em;
}


.logo {
    position: fixed;
    top: 20px; /* Adjusted for vertical alignment */
    right: 20px; /* Adjusted for alignment */
    width: 40px;
    height: 38px;
    border-radius: 100%;
    overflow: hidden;
}

.logo img {
    width: 100%;
    height: 100%;
}



.settings:hover .menu {
    display: block;
}
.user-info {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
}

.user-info img {
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    border-radius: 50%;
    margin-right: 10px;
}

.user-info .username {
    color: #0a0a0a;
    font-weight: bold;
    font-size: 1.1em;
}